/MockitoDemo/build/
/MockitoDemo/.gradle/
/MockitoDemo/.nb-gradle/
/MockitoDemo/*.tmp
/MaksukorttiMockito/build/
/MaksukorttiMockito/.gradle/
/MaksukorttiMockito/.nb-gradle/
/MaksukorttiMockito/*.tmp
/MaksukorttiMockito/.nb-gradle/
/Verkkokauppa/build/
/Verkkokauppa/.gradle/
/Verkkokauppa/.nb-gradle/
/Verkkokauppa/*.tmp/